<html>
    <body>
        <table>
            <tr>
            <th scope="col">Navigation Pane</th>
            <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th scope="col"><h1> Book List</h1></th>  
</tr>
            <tr>
                <td><a href="index.html">Home</a></td>
            </tr>
            <tr>
                <td><a href="books.html">Books</a></td>
            </tr>
            <tr>
                <td><a href="contact.html"> Contact Us</a></td>
            </tr>
            <tr>
                <td><a href="survey.html">Survey</a></td>
            </tr>
            <tr> 
                <td>&nbsp;</td>
                <td> &nbsp;</td>
                <td>
                    <a href=book1.html><img src="/image/bee.png" alt="bee" title="Bee Book" height="100" width="100" /></a>
                </td>
                <td> <a href="book1.html">The bee book </a></td>
            </tr>
            <tr> 
                <td>&nbsp;</td>
                <td> &nbsp;</td>
                <td>
                    <a href=book2.html><img src="/image/pma.jpg" alt="bee" title="Bee Book" height="100" width="100" /></a>
                </td>
                <td> <a href="book2.html">Practical Malware Analysis </a></td>
            </tr>
            <tr> 
                <td>&nbsp;</td>
                <td> &nbsp;</td>
                <td>
                    <a href=book3.html><img src="/image/html.jpg" alt="bee" title="Bee Book" height="100" width="100" /></a>
                </td>
                <td> <a href="book3.html"> HTML & CSS</a></td>
            </tr>
            </tr>
        </table>
    </body>
</html> 