<html>
    <body>
        <table>
            <tr>
            <th scope="col">Navigation Pane</th>
            <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th scope="col"><h1> Book library: Book 1</h1></th>  
</tr>
            <tr>
                <td><a href="index.html">Home</a></td>
            </tr>
            <tr>
                <td><a href="books.html">Books</a></td>
            </tr>
            <tr>
                <td><a href="contact.html"> Contact Us</a></td>
            </tr>
            <tr>
                <td><a href="survey.html">Survey</a></td>
            </tr>
            <tr>
                <td> &nbsp;</td>
            <td> &nbsp;</td>
                <td> <br>
                    <img src="/image/bee.png" alt="bee" title="Bee Book" height="400" width="300" /></a>
                </td>
                <td>&nbsp;&nbsp;&nbsp; <b>The Bee Book</b> <br> &nbsp;&nbsp;&nbsp; This is a great book written by jacky pan for a bee nft <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br></td>
            </tr>
        </tr>
        <td> &nbsp;</td>
        <td><br><a href="books.html">Back to book library</a></td>
    </tr>
            </tr>
        </table>
    </body>
</html> 