<html>
    <body>
        <table>
            <tr>
            <th scope="col">Navigation Pane</th>
            <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th scope="col"><h1> Book library: Book 1</h1></th>  
</tr>
            <tr>
                <td><a href="index.html">Home</a></td>
            </tr>
            <tr>
                <td><a href="books.html">Books</a></td>
            </tr>
            <tr>
                <td><a href="contact.html"> Contact Us</a></td>
            </tr>
            <tr>
                <td><a href="survey.html">Survey</a></td>
            </tr>
            <tr>
                <td> &nbsp;</td>
            <td> &nbsp;</td>
                <td> <br>
                    <img src="../public/images/html.jpg" alt="html" title="html book" height="400" width="300" /></a>
                </td>
                <td>&nbsp;&nbsp;&nbsp; <b>Html & CSS: The Complete Reference(5th Edition)</b> <br> &nbsp;&nbsp;&nbsp; 
                    The fifth edition of this book might as well be the first edition of a brand new book. 
                    The HTML5 specification marks a return to past ideas and an explosion of future ideas. 
                    It took a great deal of work to put this new &nbsp;&nbsp;&nbsp;&nbsp;edition together. Given the amount of effort required, I want to make sure that all those that helped are given their due. 
                    First, I want to acknowledge the numerous fixes and improvements that came from the feedback &nbsp;&nbsp;&nbsp;&nbsp;from both my students at UCSD and readers around the world. 
                    I write these books for you, and I am glad you are putting this information to good use. <br> <br> <br> <br> <br> <br> <br> <br> <br>  <br> <br> <br> <br> <br> <br> <br> <br> <br></td>
            </tr>

            </tr>
            <td> &nbsp;</td>
            <td><br><a href="books.html">Back to book library</a></td>
        </tr>
        </table>
    </body>
</html> 