<html>
    <body>
        <table>
            <tr>
            <th scope="col">Navigation Pane</th>
            <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th scope="col"><h1> Book library: Book 2</h1></th>  
</tr>
            <tr>
                <td><a href="index.html">Home</a></td>
            </tr>
            <tr>
                <td><a href="books.html">Books</a></td>
            </tr>
            <tr>
                <td><a href="contact.html"> Contact Us</a></td>
            </tr>
            <tr>
                <td><a href="survey.html">Survey</a></td>
            </tr>
            <tr>
                <td> &nbsp;</td>
            <td> &nbsp;</td>
                <td> <br>
                    <img src="../public/images/pma.jpg" alt="PMA" title="PMA book" height="400" width="300" /></a>
                </td>
                <td>&nbsp;&nbsp;&nbsp; <b>Practical Malware Analysis: The Hands-On Guide to Dissecting Malicious Software</b> <br> &nbsp;&nbsp;&nbsp; 
                    Malware analysis is big business, and attacks can cost a company dearly. When malware breaches your defenses, you need to act quickly to cure current infections and prevent future ones from occurring.

For those who &nbsp;&nbsp;&nbsp;&nbsp;want to stay ahead of the latest malware, Practical Malware Analysis will teach you the tools and techniques used by professional analysts. With this book as your guide, you'll be able to safely analyze, debug, 
and &nbsp;&nbsp;&nbsp;&nbsp;disassemble any malicious software that comes your way. <br> <br> <br> <br> <br> <br> <br> <br> <br>  <br> <br> <br> <br> <br> <br> <br> <br> <br></td>
            </tr>

            </tr>
            <td> &nbsp;</td>
            <td><br><a href="books.html">Back to book library</a></td>
        </tr>
        </table>
    </body>
</html> 