<html>
    <body>
        <table>
            <tr>
            <th scope="col">Navigation Pane</th>
            <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th scope="col"> &nbsp;</th>
        </tr>
            <tr>
                <td><a href="index.html">Home</a></td>
            </tr>
            <tr>
                <td><a href="books.html">Books</a></td>
            </tr>
            <tr>
                <td><a href="contact.html"> Contact Us</a></td>
            </tr>
            <tr>
                <td><a href="survey.html">Survey</a></td>
            </tr>
            <tr>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
                <td> 
                <label> &nbsp;&nbsp;&nbsp;&nbsp; Name: <input type="text" name="name" /></label>
            </td>
            </tr>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td> <label> &nbsp;&nbsp;&nbsp;&nbsp; Date of Birth: <input type="date" name="dob" /></label></td>
            </tr>
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td> <label> How likely is it that you recommend this library to your friends?  
                    <br><input type="radio" name="recommend" value="very likely" />Very likely
                    <input type="radio" name="recommend" value="Somewhat Likely" /></label>Somewhat likely
                    <input type="radio" name="recommend" value="Not likely" /></label>Not Likely</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="submit" value="submit"/></td>
                </td>
            </tr>
        </table>
    </body>
</html> 